*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

/* header */
.header{
    width: 100%;
    height: 7vh;
    background-color: rgb(248, 244, 244);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.61);
    border-radius: 3px;
    display: flex;
}
.header .heading{
    width: 80%;
}
.heading >h1{
    margin: .5em 0 0 1em;
    font-family: monospace;
    letter-spacing: 4px;
    font-weight: 500;
    color: rgb(34, 119, 199);
}
/* links inside header */
.links{
    width: 20%;
    text-align: center;
}
.links ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

}
.links ul li{
    font-size: 1.1rem;
    margin-top: .6em;
    letter-spacing: 3px;
}
.links ul li a{
   color: rgb(38, 39, 38);
   font-weight: bold;
}
.first{
    border-bottom: 1.5px solid black;
}

/* styling main-body */
main{
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.content{
    padding: 1em 5em;
    text-align: center;
    background-color: royalblue;
    border-radius: 10px;
}
.content>h3{
    color: whitesmoke;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-family: cursive;
}
.content>p{
    margin-top: .6em;
    font-size: 1.4rem;
    font-family: cursive;
    color: white;
    letter-spacing: 2px;
}
.button{
    margin-top: 1em;
}
.button #btn{
    padding: .3em .7em;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    border: 2px solid black;
}
.button #btn:hover{
    background-color: royalblue;
    color: whitesmoke;
    border: 2px solid black;
    transition: .6s;
}