@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    color: beige;
    margin: 0px auto;
    align-content: center;
    width: content-box;
}

/* pop-up style */
.scary-pop-up{
    display: none;
}
.show-scary-pop-up{
    display: block;
    width: 50vw;
    height: 50vh;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.37)), url('./scary-bg.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show-scary-pop-up p{
    color: rgb(139, 5, 5);
    font-size: larger;
    line-height: 3.5rem;
    font-weight: bolder;
    text-shadow: 0 0 4px rgb(29, 1, 1);
    word-spacing: 3px;
    letter-spacing: 1px;
}
/* pop up style ended */

/* styling "See Your death button" */
#See-Your-Death{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 100;
    font-family: 'Pangolin', cursive;
    padding: 10px;
    color: #8a0303;
    border: 1px solid #8a0303;
    animation: animate .9s infinite;
}

@keyframes animate{
    50%{
        text-shadow: 0 0 10px red;
    }
}

/* making  button responsive */
@media screen and (max-width:500px){
    p,b{
        font-size: 1.4rem;
    }
    #See-Your-Death{
    font-size: 1.4rem;
    }
    .show-scary-pop-up{
        width: 90vw;
    }
    .show-scary-pop-up p{
        font-size: 1.3rem;
    }
}